.container{
    margin-bottom: 20px; 

  }

  .container > input{
    font-size: 20px;
    border: none;
    border-bottom:2px black solid;
    background-color: rgb(240, 237, 237);
    width:800px
  }

  .container > button{
    font-size: 20px;
    border-bottom:2px black solid;
    background-color: white;
    width:100px
  }
  
