
.outblock{
  background:rgb(240, 237, 237);
  margin-left: 300px;
  margin-right: 300px;
  text-align: left;

}

.outblock :hover{
  background:rgb(229, 229, 229);

}

.todolist {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px; 
  background:rgb(240, 237, 237);
}

.todolist:hover .buttonStyle{
  display:block;
  cursor: pointer; 

}

.todolist:hover .buttonStyleT{
  background:rgb(229, 229, 229);

}

.Show_done_Items {

  height: 50px;
  margin-left: 150px;
  margin-right: 150px;

}

.buttonStyle{
  background:rgb(229, 229, 229);
  border: none;
  float: right;
  margin-top: 2px;
  display:none;
}

.buttonStyleTest{
  display:none;
}

.buttonStyleT{
  background:rgb(240, 237, 237);
  border: none;
  float: right;
  margin-top: 2px;
  display:block;
}

